@{
    ViewBag.Title = "应收款列表";
     }

<style>
    .table_common tbody td {
padding-right: 0px;

}
</style>
<div class="layout_guild"><i></i>您当前的位置：费用管理 > 应收款列表 </div>
<div class="data_content">
<!--查询-->
<div class="layout_report">
    <table>
        <tr><td style="width:80px;text-align:right;">客户：</td>
            <td><input name="Supplier" type="text" id="txtcustomer" style="width:200px;" /></td>
            <td style="text-align:right;">状态：</td>
            <td><select id="Status" name="Status"><option value="">全部</option><option value="0">无退单</option><option value="1">有退单</option></select></td> 
         
            <td style="text-align:right;">结算单号：</td>
            <td><input name="QueryNo" type="text" id="txtpo" /></td>
            <td style="text-align:right;">销售日期：</td>
            <td colspan="2"><input name="DateStart" type="text" id="from" />
                至：<input name="DateEnd" type="text" id="to" /></td></tr>
        <tr>            
        <td colspan="8" style="text-align:center;">
            <a class="btn_refer2" href="javascript:void(0);" id="btn" onclick="pageload(1);">查询报表</a>
            <a class="btn_refer2" href="javascript:void(0);" onclick="excel()">导出excel</a>
            </td></tr>
    </table>
</div>

<!--表格内容-->

<div id="partlistdiv">
    @{
        Html.RenderAction("receivablepart", "cost");   
}</div>
    </div>
<script>
    page = 1;
    var para = "";
    var orderby = "";
    $(function () {
        $("#from").datepicker({
            dateFormat: "yy-mm-dd",
            showOn: "button",
            buttonImageOnly: true,
            buttonImage: '../images/front/public/calendar.gif',
            changeMonth: true,
            numberOfMonths: 1,
            onClose: function (selectedDate) {
                $("#to").datepicker("option", "minDate", selectedDate);
            }
        });
        $("#to").datepicker({
            dateFormat: "yy-mm-dd",
            maxDate: new Date(),
            showOn: "button",
            buttonImageOnly: true,
            buttonImage: '../images/front/public/calendar.gif',
            changeMonth: true,
            numberOfMonths: 1,
            onClose: function (selectedDate) {
                $("#from").datepicker("option", "maxDate", selectedDate);
            }
        });

    });
    function excel() {
        para = "";
        geturl();
        var url = "../cost/excelreceivable?where=" + para + "&orderby=" + orderby;
        window.location.href = encodeURI(url);// "../cost/excelreceivable?where=" + para + "&orderby=" + orderby;
    }
    function pageload(p) {
        page = p;
        para = "";
        geturl();
        $("#partlistdiv").load("../cost/receivablepart", { page: page, where: para, orderby: orderby }, function () { });
    }
    function orderlistp(by) {
        if (orderby.indexOf('desc') != -1) orderby = by + " asc";
        else orderby = by + " desc";
        pageload(page);
    }
    function geturl() {
        var sup = $("#txtcustomer").val();
        var po = $("#txtpo").val();
        var si = $("#Status").val();
        var start = $("#from").val();
        var end = $("#to").val();
        var ddlr = $("#ddlr").val();
        para = "";
        if (sup != '') para += " and  suppliername like '%" + sup + "%'";
        if (po != '') para += " and settleNo like '%" + po + "%'";
        if (si != '') para += " and Status=%" + si + "%";
        if (start != '') para += " and settleStart>='" + start + "'";
        if (end != '') para += " and settleEnd<'" + end + "'";
        return para;
    }


    //展开明细
    function loaddetailp(i,id) {
        if (i == detailindex) {
            var s = $("#detai_div_" + detailindex).css("display");
            if (s == "none") {
                $("#tr_" + detailindex).addClass("active");
                $("#detai_div_" + detailindex).css("display", "block");
            }
            else {
                $("#detai_div_" + detailindex).css("display", "none");
                $("#tr_" + detailindex).removeClass("active"); return false;
            }
      //     
        }

        $("#detai_div_" + detailindex).css("display", "none");
        $("#tr_" + detailindex).removeClass("active");
        detailindex = i;

        para = "";
        geturl();
       // if (detail[i - 1] == 0) {//第一次加载数据
            var uid = new Date();
            $("#detai_div_" + i).load("../cost/receivableview?uid=" + uid.getTime(), { supplier: id, where: para }, function (data) { });
         //   detail[i - 1] = 1;
      //  }
        $("#tr_" + detailindex).addClass("active");
        $("#detai_div_" + detailindex).css("display", "block");
    }

</script>