<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
<h1>$title$现场服务报告</h1>
<table width="100%" border="0" cellpadding="0" cellspacing="0"  class="table_report">
<thead>
  <tr>
    <th colspan="4" >基本信息</th>
    </tr>
  </thead>
 <tbody>
  <tr>
    <td width="23%" height="40" align="right">员工：</td>
    <td width="24%" class="endwise_title">$employeename$</td>
    <td width="8%" align="right"></td>
    <td width="45%" align="left"></td>
  </tr>
  <tr>
    <td height="30" align="right">到场时间：</td>
    <td>$starttime$</td>
    <td align="right">离场时间：</td>
    <td align="left">$completetime$</td>
  </tr>
  
  <tr>
    <td height="100" align="right">服务内容：</td>
    <td colspan="3">$content$</td>
    </tr>
  </tbody>
</table>
    <table width="100%" border="0" cellpadding="0" cellspacing="0"  class="table_report">
<thead>
  <tr>
    <th colspan="4" >审核信息</th>
    </tr>
  </thead>
 <tbody>
  <tr>
    <td width="23%" height="40" align="right">审核人：</td>
    <td width="24%" class="endwise_title">$checkperson$</td>
    <td width="8%" align="right">审核时间：</td>
    <td width="45%" align="left">$checktime$</td>
  </tr>
  
  
  <tr>
    <td height="100" align="right">审核内容：</td>
    <td colspan="3">$checkcontent$</td>
    </tr>
  </tbody>
</table>
</body>
</html>
