
@{
    ViewBag.Title = "委外收货单列表";

     }
<style>
    .table_common tbody td {
padding-right: 0px;

}
</style>
<div class="layout_guild"><i></i>您当前的位置：您当前的位置：委外发货管理 > 委外收货单列表  </div>
<div class="data_content">
<!--查询-->
<div class="layout_search"><i></i>收货单号：<input name="" type="text" id="txtkey"  />
<a class="btn_search" href="javascript:void(0);" id="btn" onclick="loadlistpart(1);"></a>

</div>

<!--表格内容-->

<div id="partlistdiv">
    @{
        Html.RenderAction("backlistpart", "delegate");   
}
</div>

    </div>
<script>  

    parturl = "../delegate/backlistpart";
    csparas = 'backNo';
    htmlids = 'txtkey';

</script>