@{
    
}
@{
    ViewBag.Title = "出库单列表";
     }
<style>
    .table_common tbody td {
padding-right: 0px;

}
</style>
<div class="layout_guild"><i></i>您当前的位置：出库管理 > 出库单列表 </div>
<div class="data_content">
<!--查询-->
<div class="layout_search"><i></i>出库单号：<input name="" type="text" id="txtkey"/>
<a class="btn_search" href="javascript:void(0);" id="btn" onclick="loadlistpart(1);"></a>
</div>

<!--表格内容-->

<div id="partlistdiv">
    @{
        Html.RenderAction("outlistpart", "stockout");   
}
</div>

    </div>
<script>

    parturl = "../stockout/outlistpart";
    csparas = 'stockoutNo';
    htmlids = 'txtkey';

</script>