@{
    Layout = null;
    ViewBag.Title = "页面维护中";
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>出错页</title>
<style>
body{ font-family:"微软雅黑";
font-size:13px;}

.error{
margin:auto;
}
.div_no_data{
padding-top:80px; 
font-size:20px; 
text-align: center;
font-weight:bold;
}

.div_no_data img{
margin-right:6px;
display:inline-block;
 vertical-align:middle;}
 
.error span{
display:block;
text-align: center;
margin-top:10px;}
 
</style>
</head>

<body>
<div class="error">
<div class="div_no_data"><img src="../images/front/public/onebit_36.png" />对不起，您访问的页面正在维护中....</div>
<span><a href="../home/index" style="text-decoration:underline; color:#CC6633; padding-left:8px;">点击返回工作台</a></span>

</div>
</body>
</html>
