@{
    Layout = null;
    var url = Model.url;
    var v1 = Model.v1;
    var v2 = Model.v2;
    var message = Model.message;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>登录</title>	
    <link href="~/Content/themes/login_l1.css" rel="stylesheet" />	
        <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/lhgdialog/lhgdialog.js"></script>
    <script>
        $(function () {
            //$("#f").submit();
            var m = '@message';
            var v1 = '@v1';
            var v2 = '@v2';
            if (m != "") {
                $.dialog.alert(m);
                return false;
            }
            if (v1 != '') $("#msg1").text(v1);
            if (v2 != '') $("#msg2").text(v2);

            document.onkeydown = function (e) {
                if (!e) e = window.event;//火狐中是 window.event
                if ((e.keyCode || e.which) == 13) {
                    login();
                }
            }
        });
        function login() {
            var v1 = $("#userid").val();
            var v2 = $("#pwd").val();
            var a = /^\d{6}$/;
            var go = 1;
            if (v1 == "") {
                $("#msg1").text("请输入用户名"); go = 0;
            }
            else $("#msg1").text("");

            if (v2 == "") {
                $("#msg2").text("请输入密码"); go = 0;
            }
            else $("#msg2").text("");

            if (go == 1) {
                $("#dd_login").addClass("loading");
                $("#f").submit();
                //$.post("../account/verification", { userid: v1, pwd: v2 }, function (data) {
                //    if (data.status == true) {
                //       window.location.href ="../main/index";
                //        // alert(data.message);
                //    }
                //    else {
                //        $("#dd_login").removeClass("loading");
                //        $("#msg1").text(data.value);
                //        $("#msg2").text(data.value2);
                //    }
                //});
            }
        }
        function chageimg() {
            $("#valiCode").attr("src", "/Account/GetValidateCode?time=" + (new Date()).getTime());
        }
    </script>
    <style type="text/css">
		img, div { behavior: url(iepngfix.htc) }
		</style>
</head>

	<body id="login">
		<div id="wrappertop"></div>
			<div id="wrapper">
					<div id="content">
						<div id="header">
							<h1><a href=""><img src="../images/front/login/l1/logo.png" alt="FreelanceSuite"></a></h1>
						</div>
						<div id="darkbanner" class="banner320">
							<h2>系统登录</h2>
						</div>
						<div id="darkbannerwrap">
						</div>
						<form id="f" action="../account/verification" method="post">
						<fieldset class="form">
                        	      <input type="hidden" name="action" id="action" value="l1" />                                                                                 <p>
								<label for="user_name">用户名:</label>
								<input name="userid" id="userid" type="text" value="mzl" />
							</p>
							<p>
								<label for="user_password">密码:</label>
								<input name="pwd" id="pwd" type="password" value="11" />
							</p>
							<button type="button" class="positive" name="Submit" onclick="login()" >
								<img src="../images/front/login/l1/key.png" alt="Announcement"/>登录</button>
								<ul id="forgottenpassword">
								<li class="boldtext"><div id="dd_login"></div>
                                    <span id="msg1"></span>
                                    <span id="msg2"></span>
								</li>
								@*<li><a href="forgot.php">Forgotten it?</a></li>*@
							</ul>
                            						</fieldset>
						</form>
						
					</div>
				</div>   

<div id="wrapperbottom_branding"><div id="wrapperbottom_branding_text"><a href="#" style='text-decoration:none'>Powered By Mengzl WebSit</a>.</div></div>
        </body>
</html>
